div.edit-panes-payment-payment-method-migs-wrapper .item-list {
    float: left;
}

ul.uc-migs-cc-logos {
    float: left;
    clear: both;
}

.item-list ul.uc-migs-cc-logos li {
    float: left;
    list-style: none;
    margin: 0 5px 0 0;
    padding: 0;
    background: none;
}